<div class="strib-styles ssa ssb ssc">
  <div class="container-lg elex-header">
    <h1>How Minnesota voted for governor, neighborhood by neighborhood</h1>
    <p class="byline">By Chase Davis and Jeff Hargarten • <span>Star Tribune</span></p>
    <!-- share -->
  </div>

  <div class="container-lg">

    <section class="leadin">
      <p>Leadin graf talking about who won, etc. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

      <p>The map below shows how Minnesota voted by precinct, which are the smallest units of geography election counters use to to tabulate votes — often comparable in size to a neighborhood or a small town.</p> 

      <p>The map is colored based on vote density. Darker areas represent smaller, more densely populated precincts — like cities — where lighter areas represent larger, less populous precincts, like rural areas and small towns.</p> 

      <p>Zoom in on the map to explore how different parts of the state voted, or search for your address to see the areas near you.</p> 
    </section>

    <section class="map-section">

      <div id="map-container">
        <div id="map-legend">
          <div class="legend-row">
            <div class="bar blue"></div>
            <div class="label">Won by Walz</div>
          </div>

          <div class="legend-row">
            <div class="bar purple"></div>
            <div class="label">Tied</div>
          </div>

          <div class="legend-row">
            <div class="bar red"></div>
            <div class="label">Won by Johnson</div>
          </div>

          <div class="legend-footer">
            <div class="footer-left">
              <div class="label">← →<br />Vote density</div>
            </div>
            <div class="footer-right">
              <div class="label">
                <div class="square"></div>
                No votes
              </div>
            </div>
          </div>
        </div>

        <div id="map"></div>
        <div id="map-popover"></div>
      </div>
    </section>

    <section class="credits">
      <p>Source: Precinct map from <a href="https://gisdata.mn.gov/">Minnesota Geospatial Commons</a>; results from <a href="https://www.sos.state.mn.us/elections-voting/election-results">Minnesota Secretary of State</a></p>
    </section>
   
  </div>
</div>