<div class="strib-styles ssa ssb ssc">
  <div class="container-lg elex-header">
    <h1>How Minnesota voted for governor, neighborhood by neighborhood</h1>
    <p class="byline">By Chase Davis and Jeff Hargarten • <span>Star Tribune</span></p>
    <!-- share -->
  </div>

  <div class="container-lg">

    <section class="leadin">
      <p>Tim Walz, a Democrat and six-term congressman from Mankato, <a href="http://www.startribune.com/live-2018-minnesota-midterm-election-results-key-top-races-governor-attorney-general-us-senate-house-congress/497951121/">was elected the 41st governor of Minnesota</a> on Tuesday, defeating Republican Jeff Johnson by a double-digit margin to extend DFL control of the governor’s mansion for a third term.</p>

      <p>He did so in part by winning support in areas where President Donald Trump saw broad success in 2016: the Twin Cities suburbs, parts of southern and western Minnesota and the Iron Range.</p>

      <p>Use the the map below to explore how Minnesota voted for governor by precinct, which is the smallest unit of geography election counters use to to tabulate votes — comparable in size to a neighborhood or a small town.</p> 

      <p>The map is colored based on vote density. Darker areas represent smaller, more densely populated precincts — like cities — whereas lighter areas represent sparsely populated precincts like rural areas and small towns.</p> 

      <p>Zoom in on the map to explore how different parts of the state voted, or search for your address to see the areas near you.</p> 
    </section>

    <section class="map-section">

      <div id="map-container">
        <div id="map-legend">
          <div class="legend-row">
            <div class="bar blue"></div>
            <div class="label">Won by Walz</div>
          </div>

          <div class="legend-row">
            <div class="bar purple"></div>
            <div class="label">Tied</div>
          </div>

          <div class="legend-row">
            <div class="bar red"></div>
            <div class="label">Won by Johnson</div>
          </div>

          <div class="legend-footer">
            <div class="footer-left">
              <div class="label">← →<br />Vote density</div>
            </div>
            <div class="footer-right">
              <div class="label">
                <div class="square"></div>
                No votes
              </div>
            </div>
          </div>
        </div>

        <div id="map"></div>
        <div id="map-popover"></div>
      </div>
    </section>

    <section class="credits">
      <p>Source: Precinct map from <a href="https://gisdata.mn.gov/">Minnesota Geospatial Commons</a>; results from <a href="https://www.sos.state.mn.us/elections-voting/election-results">Minnesota Secretary of State</a></p>
    </section>
   
  </div>
</div>
